@font-face {
    font-family: 'UH';
    src: url("Kashima\ Demo.otf");
  }
  

.title {

  text-align: center;
    font-family: 'UH', sans-serif;
    font-size: 90px;
    color: #0c10d4;
    text-shadow: 20px 20px;

}
.heading {
color: #e41010;
}
.par1 {
color: #000000;
}
.par2 {
color: #101dd4;
}
.par3 {
color: #7edd31;
}
body {
  background-color: antiquewhite;
}
#big {
 width: 1000px;
}
.monkeykong{
  display: block;
  background-color: red;
}